################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Journey/FileContentIndex/7bd76dc8-e872-4423-99b4-d842440cb438.vsidx
