################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Journey/FileContentIndex/7bd76dc8-e872-4423-99b4-d842440cb438.vsidx
/.vs/Journey/FileContentIndex/94be61f6-67b1-4a5a-83c4-ec7b6839393e.vsidx
/.vs/Journey/FileContentIndex
